* {
margin: 0;
padding: 0;
font-family: sans-serif;
}

.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.25),rgba(0,0,0,0.25)), url(AdobeStock_218302834.jpeg);
    background-size: cover;
    background-position: center;
  
}   

.navbar{
    display: flex;
    width: 90%;
    margin: auto;
    padding: 15px 0;
    align-items: center;
    justify-content: space-between;

}

.logo{
    width: 120px;
    cursor: pointer;
    color: white;
}

.navbar ul li {
    display: inline-block;
    margin: 0 10px;
    list-style: none;
    position: relative;
   

}
.navbar ul li::after{
    content: "";
    height: 3px;
    width: 0;
    background-color: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: .5s;
}

.navbar ul li:hover::after{
    width: 100%;
    
}


.navbar ul li a{
    text-decoration: none;
    color: white;
    text-shadow: 1px 1px#009688;
    text-transform: uppercase
}


.content{
    width: 100%;
    transform: translateY(-50%);
    top : 50%;
    color: white;
    text-align: center;
    position: absolute;

  

}
.content h1 {  
    margin-top: 80px;
    font-size: 70px;
    

}
.content p {
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}

button {
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border: solid 2px #009688;
    border-radius: 25px;
    font-weight: bold;
    background: transparent;
    color: white;
    cursor: pointer;
    position: relative;
    overflow: hidden;
 



}

span{
    background-color: #009688;
    width: 0;
    height: 100%;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1; 
    transition: .5s;
}

button:hover span{
    width: 100%;

}

button:hover {
    border: none;
}